/* variables */

:root {
    --color-bg-base-pink: #f7f3f6;
    --color-bg-base-gray: #e1e1e1;
    --color-text-gray: #333333;
    --color-title-pink: #5b082f;
    --color-subtitle-gold: rgb(186, 126, 17);
    --color-btn-bg-light-pink: rgb(182, 12, 91);
    --color-gradient-pink-blue: linear-gradient(to right, #d90466 0%, #3a86ff 100%);
    --color-shadow: rgba(255, 255, 255, 0.3);
    --color-btn-bg-light-pink-transparent: rgba(182, 12, 91, 0.2);
    --font-base-write: "Heebo", sans-serif;
    --font-handwriting-Heb-subtitle: "Playpen Sans Hebrew", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-firm-Heb-title: "Varela Round", "Heebo", Arial, sans-serif;
    --spacing: 10px;
    direction: rtl;
}


/* layout */

header, footer, .bg-primary {
    background-color: var(--color-bg-base-pink) !important;
    color: var(--color-text-gray) !important;

    /* padding: var(--spacing) !important; */
    text-align: center !important;
    /* padding: 10px 20px; */


}

header {
    /* max-height: 60px ; */


    position: sticky;
    /* קובע את המיקום כך שיהיה תמיד מוצמד */
    top: 0;
    /* צמוד לחלק העליון של הדף */
    left: 0;
    width: 100%;
    /* נפרס על כל הרוחב */
    z-index: 1000;
    /* כדי שלא יכוסה ע"י תוכן אחר */
}

footer {
    /* max-height: 40px !important ; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 140px !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


main .bg-primary {
    padding: var(--spacing);
    max-width: 1200px;
    margin: 10px;

}

main, .my-5 {
    margin-top: 60px !important;
    /* גובה ההדר (או קצת יותר, לפי הצורך) */
    flex: 1;
    /* דוחף את הפוטר לתחתית אם אין מספיק תוכן */
}


/* typography */

body {
    direction: rtl;
    color: var(--color-text-gray) !important;
    line-height: 1.6;
    font-family: var(--font-base-write);


    min-height: 100%;
    display: flex;
    flex-direction: column;

}

h1, h2, h3, h4, h5, h6 {
    /* font-weight: 900; */

    margin: calc(var(--spacing) * 2) 0 var(--spacing);
}

h1 {
    font-size: calc(2.1rem + 2.1vw) !important;
    font-family: var(--font-firm-Heb-title) !important;
    color: var(--color-title-pink) !important;
}


h2 {
    font-size: calc(1.25rem + 0.6vw) !important;
    font-family: var(--font-handwriting-Heb-subtitle) !important;
    color: var(--color-subtitle-gold) !important;
}

h3 {
    font-size: calc(1.5rem + 1vw) !important;
    font-family: var(--font-firm-Heb-title) !important;
    color: var(--color-title-pink) !important;
}

p {
    font-size: calc(1rem + 0.5vw) !important;
    font-family: var(--font-base-write) !important;
    color: var(--color-text-gray) !important;
    margin-bottom: var(--spacing);
}

.headerLink {
    position: relative;
    color: #000;
    text-decoration: none;
}

.headerLink::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1.5px;
    bottom: 0;
    left: 10%;

    background-color: var(--color-title-pink);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.headerLink:hover::after {
    transform: scaleX(1);
    width: 80%;

}

.headerLinkMobile {
    position: relative;
}

.headerLinkMobile:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-bg-base-gray);
    transition: transform 0.3s ease;
}

.headerLinkMobile:hover {
    color: var(--color-title-pink) !important;
    font-weight: bold !important;
}

.fs-3 {
    font-size: calc(1.8rem + 1vw) !important;
}

.btn, .btn-primary, .btn-secondary{
    background-color: var(--color-btn-bg-light-pink);
    border-color: var(--color-btn-bg-light-pink);
}

.btn-primary:hover, .btn-secondary:hover , .btn-primary.active, .btn:active{
    background-color: var(--color-btn-bg-light-pink-transparent) !important;
    border-color: var(--color-btn-bg-light-pink)!important;
}
.form-control, .form-select{
    background-color: none !important;

}
.form-control:focus , .form-select:focus {
    background-color:var(--color-bg-base-pink)!important;
    border-color: var(--color-btn-bg-light-pink) !important;
    box-shadow: 0 0 0 .25rem var(--color-btn-bg-light-pink-transparent) !important;
}





/* homepage */


#main_banners {
    position: relative;
    z-index: -1;
}

.banner {
    height: 60vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-image: var(--bg);
    background-repeat: no-repeat;
}

.banner:nth-child(2) {
    --bg: url(/images/homeImg/home01.png);
}

.banner:nth-child(3) {
    --bg: url(/images/homeImg/home02.png);
}

.banner:nth-child(4) {
    --bg: url(/images/homeImg/home03.png    );
}

.banner:nth-child(5) {
    --bg: url(/images/homeImg/home04.png);
}

.banner:nth-child(6) {
    --bg: url(/images/homeImg/home05.png);
}

#text_main_banners {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512rem;
}



/* עמוד גלריה בחירת קטגוריה */
.input-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
    transition: all 0.2s ease;
    background: none;
    padding: 0 4px;
}

input:focus+.input-label,
select:focus+.input-label,
.input-label.active {
    top: -8px;
    font-size: 0.75rem;
    color: #495057;
    
}


/* לסליידדר */

.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.slider-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    gap: 12px;
    padding-bottom: 8px;
    cursor: grab;
}

.slider-container:active {
    cursor: grabbing;
}

.slider-item {
    background-color: var(--color-btn-bg-light-pink);
    /* Tailwind bg-primary או צבע מותאם */
    border-radius: 0.5rem;
    /* rounded */
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: auto;
    flex: 0 0 auto;
    padding: 12px;
    /* p-3 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    flex-direction: column;
}

.slider-item p {
    margin: 0;
    /* כדי שלא יהיה רווח נוסף */
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    color: var(--color-bg-base-pink) !important;

}

.img_logo {
    flex-basis: 40%;
    /* width: 80rem; */
    object-fit: cover;
    transition: all 5s;
}

.img_logo:hover {
    transform: rotate(-40deg) scale(1.2, 1.2);
}

/* קצה לסליידר */