# Node
node_modules/

# סביבות
.env
.env.local
.env.*.local

# קבצים שנוצרים ע"י העלאות / תמונות
uploads/

# קבצי תצורה של שירותים/ספריות אם יש
emailjs.config.js
emailConfig.js

# לוגים, build וכו'
npm-debug.log*
dist/
build/
.vscode/
.DS_Store
